/** Fonts **/
@font-face {
    font-family: Oswald;
    src: url(./fonts/Oswald-Regular.ttf);
}
@font-face {
    font-family: troika;
    src: url(./fonts/troika.otf);
}

/** Organization **/
body {
    /* Position */
    background-color: rgb(230, 230, 230);
    /* Font */
    font-family: Oswald, Arial, Helvetica, sans-serif;
}
/* p */
p {
    /* Position */
    margin: 5px 0;
}
a {
    color: black;
}
/* hs */
h1 {
    /* Position */
    margin: 0;
    /* Font */
    text-align: center;
    font-family: troika, Arial, Helvetica, sans-serif;
}
h2 {
    color: gray;
    text-decoration: underline;
}
h3 {
    /* Position */
    margin: 0;
    /* Font */
    text-align: center;
    font-family: troika, Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
}
h4 {
    /* Position */
    margin: 10px 0;
    /* Font */
    text-align: center;
}

/** Images **/
img {
    /* Position */
    width: 100%;
    border-radius: 10px;
    display: block;
    margin: auto;
}
img.blueprint {
    /* Position */
    width: 25px;
}

/** divs **/
div.collection {
    /* Position */
    margin: 10px auto;
    padding: 20px;
    max-width: 433px;
    border: black 1px solid;
    border-radius: 25px;
    background-color: white;
}
div.collection div:first-child { margin: 5px 5px 20px 5px; }
div.collection div {
    /* Position */
    padding: 15px;
    margin: 20px 5px;
    border: black solid 1px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
}
div.collection div:last-child { margin: 20px 5px 5px 5px; }
div.collection div div:is(:nth-child(4), :nth-child(6), :nth-child(8)) {
    /* Position */
    margin: 0;
    padding: 10px;
    border-radius: 15px;
}
div.collection div div.blueprint {
    /* Position */
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

/** footer **/
footer {
    /* Font */
    color: gray;
    text-align: center;
}
footer a {
    /* Font */
    color: gray;
}

/** Mobile **/
@media (pointer:none), (pointer:coarse) {
    /** Organization **/
    /* p */
    p {
        /* Font */
        font-size: 2rem;
    }
    /* hs */
    h1, h2, h3, h4 {
        /* Font */
        font-weight: normal;
    }
    h1 {
        /* Font */
        font-size: 3rem;
    }
    h2 {
        /* Font */
        font-size: 2.5rem;
    }
    h3 {
        /* Font */
        font-size: 2.5rem;
    }
    h4 {
        /* Font */
        font-size: 2rem;
    }
    /* Lists */
    li {
        /* Font */
        font-size: 1.5rem;
    }

    /** Inputs **/
    select, label {
        /* Font */
        font-size: 2rem;
        color: black;
    }
    
    /** Images **/
    img {
        /* Position */
        border-radius: 23px;
    }
    img.blueprint {
        /* Position */
        width: 50px;
    }

    /** divs **/
    div.collection {
        /* Position */
        max-width: 100%;
        border-radius: 50px;
        margin: 20px auto;
        padding: 30px;
    }
    div.collection div:first-child { margin: 15px 15px 30px 15px; }
    div.collection div {
        margin: 30px 15px;
        padding: 15px 30px 30px 30px;
        border-radius: 40px;
    }
    div.collection div:last-child { margin: 30px 15px 15px 15px; }
    div.collection div div:is(:nth-child(4), :nth-child(6), :nth-child(8)) {
        border-radius: 22.5px;
    }
    div.collection div div.blueprint {
        margin: 10px;
    }
    /** footer **/
    footer {
        /* Font */
        font-size: 1.5rem;
    }
    footer a {
        /* Font */
        font-size: 2rem;
    }
}